body {
    background: #FFFFFF;
}

.navbar {
    color: #FFFFFF;
    justify-content: center;
    width: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

#searchCity {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

.search {
    border-radius: 5px;
    border-color: #90C5FD;
    background: #007BFF;
    color: #FFFFFF;
}

#divE1 {
    background: red;
}

#hello {
display: inline-block;
float: right;
background: red;
width: 100%;
}

#goodbye {
    display: inline-block;
    float: right;
    width: 100%;
    background: #007BFF;
}

#forecast {
    margin: 5px;
    border: 5px;
    background: blue;
}